<ion-header>
  <ion-navbar>
    <ion-title>Países</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let pais of paises">
      <ion-avatar item-left>
        <img [src]="pais.flag">
      </ion-avatar>
      <h2>{{ pais.name }}</h2>
      <p>Capital: {{ pais.capital }}</p>
      <p>Região: {{ pais.region }}</p>
    </ion-item>
  </ion-list>
</ion-content>
